<a href="https://colab.research.google.com/github/sabinamunoz/lab-customer-analysis-round-3/blob/master/lab_customer_analysis_round_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive

In [ ]:
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
data = pd.read_csv('/content/drive/MyDrive/IronHack Bootcamp/UNIT1/LABS/LAB4/marketing_customer_analysis.csv', sep=',').reset_index(drop=True)

In [ ]:
display (data)

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,...,NaN,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,...,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,NaN
10908,10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A
10909,10909,IV32877,NaN,6857.519928,NaN,Basic,Bachelor,1/8/11,Unemployed,M,...,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,NaN


**1.Show the dataframe shape.**

In [ ]:
data.shape

(10910, 26)

**2. Standardize header names.**

In [ ]:
data.columns

Index(['Unnamed: 0', 'Customer', 'State', 'Customer Lifetime Value',
       'Response', 'Coverage', 'Education', 'Effective To Date',
       'EmploymentStatus', 'Gender', 'Income', 'Location Code',
       'Marital Status', 'Monthly Premium Auto', 'Months Since Last Claim',
       'Months Since Policy Inception', 'Number of Open Complaints',
       'Number of Policies', 'Policy Type', 'Policy', 'Renew Offer Type',
       'Sales Channel', 'Total Claim Amount', 'Vehicle Class', 'Vehicle Size',
       'Vehicle Type'],
      dtype='object')

In [ ]:
datac = data.drop('Unnamed: 0', axis=1)

**3. Which columns are numerical?**

In [ ]:
datac._get_numeric_data().head()

,Customer Lifetime Value,Income,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Total Claim Amount
0,4809.216960,48029,61,7.0,52,0.0,9,292.800000
1,2228.525238,0,64,3.0,26,0.0,1,744.924331
2,14947.917300,22139,100,34.0,31,0.0,2,480.000000
3,22332.439460,49078,97,10.0,3,0.0,2,484.013411
4,9025.067525,23675,117,NaN,31,NaN,7,707.925645

**4.Which columns are categorical?**

In [ ]:
datac.select_dtypes(include=['object']).columns

Index(['Customer', 'State', 'Response', 'Coverage', 'Education',
       'Effective To Date', 'EmploymentStatus', 'Gender', 'Location Code',
       'Marital Status', 'Policy Type', 'Policy', 'Renew Offer Type',
       'Sales Channel', 'Vehicle Class', 'Vehicle Size', 'Vehicle Type'],
      dtype='object')

**5. Check and deal with NaN values**

In [ ]:
display(datac)

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,48029,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,0,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,22139,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,49078,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,23675,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,0,...,NaN,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A
10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,61146,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,39837,...,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,NaN
10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,64195,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A
10909,IV32877,NaN,6857.519928,NaN,Basic,Bachelor,1/8/11,Unemployed,M,0,...,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,NaN

In [ ]:
datac[data.isna()]

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10906,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10907,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10908,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10909,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
datac1 = datac.dropna()
datac1 = datac.dropna(axis=1)

In [ ]:
display(datac1)

,Customer,Customer Lifetime Value,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,Location Code,Marital Status,Monthly Premium Auto,Months Since Policy Inception,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount
0,DK49336,4809.216960,Basic,College,2/18/11,Employed,M,48029,Suburban,Married,61,52,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000
1,KX64629,2228.525238,Basic,College,1/18/11,Unemployed,F,0,Suburban,Single,64,26,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331
2,LZ68649,14947.917300,Basic,Bachelor,2/10/11,Employed,M,22139,Suburban,Single,100,31,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000
3,XL78013,22332.439460,Extended,College,1/11/11,Employed,M,49078,Suburban,Single,97,3,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411
4,QA50777,9025.067525,Premium,Bachelor,1/17/11,Medical Leave,F,23675,Suburban,Married,117,31,7,Personal Auto,Personal L2,Offer1,Branch,707.925645
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,FE99816,15563.369440,Premium,Bachelor,1/19/11,Unemployed,F,0,Suburban,Married,253,40,7,Personal Auto,Personal L1,Offer3,Web,1214.400000
10906,KX53892,5259.444853,Basic,College,1/6/11,Employed,F,61146,Urban,Married,65,68,6,Personal Auto,Personal L3,Offer2,Branch,273.018929
10907,TL39050,23893.304100,Extended,Bachelor,2/6/11,Employed,F,39837,Rural,Married,201,63,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996
10908,WA60547,11971.977650,Premium,College,2/13/11,Employed,F,64195,Urban,Divorced,158,27,6,Personal Auto,Personal L1,Offer1,Branch,618.288849
10909,IV32877,6857.519928,Basic,Bachelor,1/8/11,Unemployed,M,0,Suburban,Single,101,1,3,Personal Auto,Personal L1,Offer4,Web,1021.719397

**6. Datetime format - Extract the months from the dataset and store in a separate column. Then filter the data to show only the information for the first quarter , ie. January, February and March. Hint: If data from March does not exist, consider only January and February.**

In [ ]:
datac1.columns

In [ ]:
import datetime

In [ ]:
datac1['month'] = pd.DatetimeIndex(datac1['Effective To Date']).month #I tried this attribute

<ipython-input-21-ae7259cf13e7>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datac1['month'] = pd.DatetimeIndex(datac1['Effective To Date']).month #I tried this attribute

In [ ]:
datac1.dtypes

Customer                          object
Customer Lifetime Value          float64
Coverage                          object
Education                         object
Effective To Date                 object
EmploymentStatus                  object
Gender                            object
Income                             int64
Location Code                     object
Marital Status                    object
Monthly Premium Auto               int64
Months Since Policy Inception      int64
Number of Policies                 int64
Policy Type                       object
Policy                            object
Renew Offer Type                  object
Sales Channel                     object
Total Claim Amount               float64
month                              int64
dtype: object

In [ ]:
display(datac1)

,Customer,Customer Lifetime Value,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,Location Code,Marital Status,Monthly Premium Auto,Months Since Policy Inception,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,month
0,DK49336,4809.216960,Basic,College,2/18/11,Employed,M,48029,Suburban,Married,61,52,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,2
1,KX64629,2228.525238,Basic,College,1/18/11,Unemployed,F,0,Suburban,Single,64,26,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,1
2,LZ68649,14947.917300,Basic,Bachelor,2/10/11,Employed,M,22139,Suburban,Single,100,31,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,2
3,XL78013,22332.439460,Extended,College,1/11/11,Employed,M,49078,Suburban,Single,97,3,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,1
4,QA50777,9025.067525,Premium,Bachelor,1/17/11,Medical Leave,F,23675,Suburban,Married,117,31,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,FE99816,15563.369440,Premium,Bachelor,1/19/11,Unemployed,F,0,Suburban,Married,253,40,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,1
10906,KX53892,5259.444853,Basic,College,1/6/11,Employed,F,61146,Urban,Married,65,68,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,1
10907,TL39050,23893.304100,Extended,Bachelor,2/6/11,Employed,F,39837,Rural,Married,201,63,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,2
10908,WA60547,11971.977650,Premium,College,2/13/11,Employed,F,64195,Urban,Divorced,158,27,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,2
10909,IV32877,6857.519928,Basic,Bachelor,1/8/11,Unemployed,M,0,Suburban,Single,101,1,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,1

In [ ]:
datac1[datac1['month'].isin([1,2,3])]

,Customer,Customer Lifetime Value,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,Location Code,Marital Status,Monthly Premium Auto,Months Since Policy Inception,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,month
0,DK49336,4809.216960,Basic,College,2/18/11,Employed,M,48029,Suburban,Married,61,52,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,2
1,KX64629,2228.525238,Basic,College,1/18/11,Unemployed,F,0,Suburban,Single,64,26,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,1
2,LZ68649,14947.917300,Basic,Bachelor,2/10/11,Employed,M,22139,Suburban,Single,100,31,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,2
3,XL78013,22332.439460,Extended,College,1/11/11,Employed,M,49078,Suburban,Single,97,3,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,1
4,QA50777,9025.067525,Premium,Bachelor,1/17/11,Medical Leave,F,23675,Suburban,Married,117,31,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,FE99816,15563.369440,Premium,Bachelor,1/19/11,Unemployed,F,0,Suburban,Married,253,40,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,1
10906,KX53892,5259.444853,Basic,College,1/6/11,Employed,F,61146,Urban,Married,65,68,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,1
10907,TL39050,23893.304100,Extended,Bachelor,2/6/11,Employed,F,39837,Rural,Married,201,63,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,2
10908,WA60547,11971.977650,Premium,College,2/13/11,Employed,F,64195,Urban,Divorced,158,27,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,2
10909,IV32877,6857.519928,Basic,Bachelor,1/8/11,Unemployed,M,0,Suburban,Single,101,1,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,1

### **Lab | Customer Analysis Round 3**

* **Show DataFrame info**

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
datac1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10910 entries, 0 to 10909
Data columns (total 19 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Customer                       10910 non-null  object
 1   Customer Lifetime Value        10910 non-null  float64
 2   Coverage                       10910 non-null  object
 3   Education                      10910 non-null  object
 4   Effective To Date              10910 non-null  object
 5   EmploymentStatus               10910 non-null  object
 6   Gender                         10910 non-null  object
 7   Income                         10910 non-null  int64
 8   Location Code                  10910 non-null  object
 9   Marital Status                 10910 non-null  object
 10  Monthly Premium Auto           10910 non-null  int64
 11  Months Since Policy Inception  10910 non-null  int64
 12  Number of Policies             10910 non-null  int64
 13  Policy Type                    10910 non-null  object
 14  Policy                         10910 non-null  object
 15  Renew Offer Type               10910 non-null  object
 16  Sales Channel                  10910 non-null  object
 17  Total Claim Amount             10910 non-null  float64
 18  month                          10910 non-null  int64
dtypes: float64(2), int64(5), object(12)
memory usage: 1.6+ MB


*   **Describe DataFrame.**

In [ ]:
datac1.describe().T

,count,mean,std,min,25%,50%,75%,max
Customer Lifetime Value,10910.0,8018.241094,6885.081434,1898.007675,4014.453113,5771.147235,8992.779137,83325.381190
Income,10910.0,37536.284785,30359.195670,0.000000,0.000000,33813.500000,62250.750000,99981.000000
Monthly Premium Auto,10910.0,93.196059,34.442532,61.000000,68.000000,83.000000,109.000000,298.000000
Months Since Policy Inception,10910.0,48.091934,27.940675,0.000000,24.000000,48.000000,71.000000,99.000000
Number of Policies,10910.0,2.979193,2.399359,1.000000,1.000000,2.000000,4.000000,9.000000
Total Claim Amount,10910.0,434.888330,292.180556,0.099007,271.082527,382.564630,547.200000,2893.239678
month,10910.0,1.466728,0.498915,1.000000,1.000000,1.000000,2.000000,2.000000